.admin-dashboard{
  margin: 30px auto;
  overflow: auto;
}
.nav-dashboard{
  display: flex;
  justify-content: center;
}
.nav-dashboard li{
  list-style: none;
  padding: 5px;
  cursor: pointer;
  border: 1px solid;
  background-color: rgba(163, 172, 182, 0.17);
  margin: 0 5px;
  &:hover{
    color: #005cbf;
    border: 1px solid #005cbf;
    transition: color 0.5s;
  }
}
.table-dashboard{
  width: 85%;
  margin: 10px auto;
  text-align: center;
  border: 1px solid;
  table-layout: auto;
}
.table-dashboard tr,
.table-dashboard th,
.table-dashboard td,{
  border: 1px solid;
}
.head{
  background-color: #4cb514;
}
.head-column{
  background-color: #7abaff;
}

.tr-map{
  background-color: rgba(159, 205, 255, 0.29);
}
.head-button{
  margin: 5px 10px;
  padding: 3px;
  color: crimson;
  font-weight: 700;
  border: 3px solid blue;
  cursor: pointer;
  &:hover{
    background-color: rgba(255, 9, 189, 0.46);
    transition:  0.5s;
    border-radius: 12px;
    color: black;

  }
}

.buttons-control{
  margin: 2px 5px;
  padding: 2px;
  cursor: pointer;
  font-weight: 700;
  border: 3px solid black;

  &:hover{
    background-color: rgba(80, 83, 77, 0.04);
    transition: background-color 0.5s;
  }

}