.authorization{
  width: 50%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 3px solid;
  background-color: #a3acb6;
  box-sizing: border-box;
}

.authorization label,
.authorization input,
{
  width: 250px;
  cursor: pointer;
  font-size: 18px;
}

.authorization label{
  margin: 4px 0;
}
.authorization button{
  margin: 10px 0;
  width: 150px;
  cursor: pointer;
  font-size: 22px;
  &:hover{
    border-radius: 20px;
    transition: 0.5s;
  }
}
.authorization span{
  color: red;
}